* {
  --headerHeight: 102px;
}

$max-width: 1600px;
$headerHeight: 70px;
$maxZindex: 1001;
$blue: #393799;
$purple: #804784;
$mobileBreakPoint: 1024px;
$divisivMobileBreakPoint: 1025px;

@media (max-width: $mobileBreakPoint) {
  * {
    --headerHeight: 54px;
  }
}
