* {
  --headerHeight: 102px;
}

$max-width: 1600px;
$headerHeight: 70px;
// $mobileHeaderHeight: 54px;
$maxZindex: 1001;
$blue: #393799;
$mobileBreakPoint: 1250px;
@media (max-width: $mobileBreakPoint) {
  * {
    --headerHeight: 54px;
  }
}
