@import "./variables.scss";
@import "./mixins.scss";
@import "../components/Header/Header.scss";
@import "../components/City/City.scss";
@import "../components/ToggleButton/toggleButton.scss";
@import "../pages/Home/home.scss";
@import "../pages/Favorites/favorites.scss";

html {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  font-family: "Ubuntu", sans-serif;
}
body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  letter-spacing: 0.5px;
}

.app-background-image {
  z-index: -2;
  position: fixed;
  width: 100vw;
  height: 100%;
  min-height: 120vh;
  -o-object-fit: cover;
  object-fit: cover;
  left: 0px;
  top: 0px;
}

.background-image-darkMode-true {
  -webkit-transition: background-image 0.6s ease;
  -o-transition: background-image 0.6s ease;
  transition: background-image 0.6s ease;
  background-size: cover;
  background-image: url("../assets/images/darkBackgroundComp.jpg") !important;
}
.background-image-darkMode-false {
  -webkit-transition: background-image 0.6s ease;
  -o-transition: background-image 0.6s ease;
  transition: background-image 0.6s ease;
  background-size: cover;
  background-image: url("../assets/images/lightBackgroundComp.jpg");
}

.gallery-container {
  padding: 90px 40px;
  grid-gap: 40px 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
}
.gradual-animation {
  -webkit-animation: gradual 1.6s cubic-bezier(0.25, 0.1, 0.25, 1) 0s 1 forwards;
  animation: gradual 1.6s cubic-bezier(0.25, 0.1, 0.25, 1) 0s 1 forwards;
}

@-webkit-keyframes gradual {
  0% {
    opacity: 0;
    margin-top: 1%;
  }

  30% {
    margin-top: 0%;
  }
  40% {
    opacity: 1;
  }
}

@keyframes gradual {
  0% {
    opacity: 0;
    margin-top: 1%;
  }

  30% {
    margin-top: 0%;
  }
  40% {
    opacity: 1;
  }
}
.error-message {
  color: white;
  font-size: clamp(16px, 3.5vw, 24px);
  padding: 30px 60px;
  background-color: rgba(111, 0, 0, 0.7);
  width: 100vw;
  line-height: 2.5;
}

.hoverEffect {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}
.hoverEffect-S {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}

.cursorPointer {
  &:hover {
    cursor: pointer;
  }
}
.cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.rtl {
  direction: rtl;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}
input {
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-user-select: text;
}

.text-animation-fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.font-1vw {
  font-size: clamp(1vw, 1vw, 20px) !important;
}
@media (min-width: 2000px) {
  .font-1vw {
    font-size: 20px !important;
  }
}

.error {
  color: red;
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
  text-align: right;
}

.relative {
  position: relative;
}

.padding-top-40 {
  padding-top: 40px;
}
.padding-top-50 {
  padding-top: 50px;
}
.padding-top-100 {
  padding-top: 100px;
}
.padding-top-150 {
  padding-top: 150px;
}
.padding-top-300 {
  padding-top: 300px;
}
.padding-bottom-50 {
  padding-bottom: 50px;
}

.lower-2 {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}
.lower-8 {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
}
.lower-10 {
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}
.lower-12 {
  -webkit-transform: translateY(12px);
  -ms-transform: translateY(12px);
  transform: translateY(12px);
}
.lower-36 {
  -webkit-transform: translateY(36px);
  -ms-transform: translateY(36px);
  transform: translateY(36px);
}

.flex {
  @include flexBox();
}
.space-between {
  @include flexBox(space-between, 100%);
}

.vertical-flex {
  @include flexBox(center);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-end {
  @include flexBox(flex-end);
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.space-around {
  @include flexBox(space-around);
}
.flex-center {
  @include flexBox(center);
}
.flex-start {
  @include flexBox(flex-start);
}
.true-center {
  @include flexBox(center);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0 auto;
  text-align: center;
}

.absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.center {
  margin: 0 auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.self-end {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.self-start {
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.self-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.relative {
  position: relative;
}

.z-1 {
  z-index: 1;
  position: relative;
}

.gap-2 {
  @include flexBox();
  gap: 2px;
}
.gap-4 {
  @include flexBox();
  gap: 4px;
}
.gap-5 {
  @include flexBox();
  gap: 5px;
}
.gap-6 {
  @include flexBox();
  gap: 6px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.gap-8 {
  @include flexBox();
  gap: 8px;
}
.gap-10 {
  @include flexBox();
  gap: 10px;
}
.gap-12 {
  @include flexBox();
  gap: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.gap-16 {
  @include flexBox();
  gap: 16px;
}
.gap-17 {
  @include flexBox();
  gap: 17px;
}
.gap-18 {
  @include flexBox();
  gap: 18px;
}
.gap-20 {
  @include flexBox();
  gap: 20px;
}
.gap-22 {
  @include flexBox();
  gap: 22px;
}
.gap-24 {
  @include flexBox();
  gap: 24px;
}
.gap-28 {
  @include flexBox();
  gap: 28px;
}
.gap-32 {
  @include flexBox();
  gap: 32px;
}
.gap-44 {
  @include flexBox();
  gap: 44px;
}
.gap-70 {
  @include flexBox();
  gap: 70px;
}
.width-100 {
  width: 100% !important;
}
.width-96 {
  width: 96%;
}
.width-90 {
  width: 90%;
}

.bold {
  font-weight: bold;
}

.font-10 {
  font-size: 10px;
}
.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
.font-30 {
  font-size: 30px;
}

.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

.no-wrap {
  white-space: nowrap;
}

.break-all {
  word-break: break-all;
}

.pointer {
  cursor: pointer;
}

.formMessage {
  text-align: center;
  -webkit-transform: translateY(-55px);
  -ms-transform: translateY(-55px);
  transform: translateY(-55px);
  direction: rtl;
  color: rgb(118, 207, 118);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

* ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: transparent;
  display: inline;
  width: 1px !important;
  height: 1px !important;
  cursor: pointer;
}
* ::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
  display: inline;
  cursor: pointer;
}
* ::-webkit-scrollbar {
  width: 1px;
  height: 2px;
  color: transparent;
  background: transparent;
}

@media (max-width: $mobileBreakPoint) {
  .mobile-none {
    display: none;
  }

  .gallery-container {
    grid-gap: unset;
    padding: 40px 40px;
  }
}

@media (min-width: $mobileBreakPoint) {
  .desktop-none {
    display: none;
  }
}
