.home-container {
  padding-top: 160px;
  text-align: center;
  height: 100vh;
  .search-input {
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    margin: 0px auto;
    margin-top: 60px;
    outline: none;
    width: 600px;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 48px;
  }
}

.search-icon {
  position: absolute;
  height: 20px;
  left: 16px;
  top: 80px;
}

.search-button {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  width: 100px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 40px;
  transition: 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  &:hover {
    // border: 3px solid #ccc;
    transition: 0.3s;
    background-color: rgb(102, 102, 102);
    color: white;
    border: 1px solid transparent;
  }
}

// .single-city-container {
// }

@media (max-width: $mobileBreakPoint) {
  .home-container {
    .search-input {
      font-size: 15px;
      width: 300px;
      height: 45px;
      padding-left: 40px;
    }
  }

  .search-button {
    transform: scale(0.7);
    margin-top: 20px;
  }
  .search-icon {
    height: 16px;
    top: 75px;
  }
}
