.home-container {
  padding-top: 160px;
  text-align: center;
  height: 100vh;
  .search-input {
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    margin: 0px auto;
    margin-top: 60px;
    outline: none;
    width: 600px;
    height: 60px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 48px;
  }
}

.search-icon {
  position: absolute;
  height: 20px;
  left: 16px;
  top: 80px;
}

.search-button {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  width: 100px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  &:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: rgb(102, 102, 102);
    color: white;
    border: 1px solid transparent;
  }
}
.current-forecast-city-container {
  margin: 80px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  padding-bottom: 100px;
}

.weekly-forecast-title {
  font-size: clamp(45px, 6vw, 100px);
}

.current-location-title {
  font-size: clamp(35px, 5.5vw, 90px);
}
.target-iframe {
  width: 100vw;
  margin-top: 20px;
  margin-bottom: 100px;
}

.spinner {
  height: 150px;
  -webkit-animation: spinnerRoll infinite 6s;
  animation: spinnerRoll infinite 6s;
}

@-webkit-keyframes spinnerRoll {
  0% {
  }
  20% {
    -webkit-transform: rotate(1200deg);
    transform: rotate(1200deg);
  }

  40% {
    -webkit-transform: rotate(-1000deg);
    transform: rotate(-1000deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes spinnerRoll {
  0% {
  }
  20% {
    -webkit-transform: rotate(1200deg);
    transform: rotate(1200deg);
  }

  40% {
    -webkit-transform: rotate(-1000deg);
    transform: rotate(-1000deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@media (max-width: $mobileBreakPoint) {
  .current-forecast-city-container {
    margin: 0px auto;
    margin-top: 80px;
  }
  .home-container {
    .search-input {
      font-size: 15px;
      width: 300px;
      height: 45px;
      padding-left: 40px;
    }
  }

  .spinner {
    height: 85px;
  }

  .search-button {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    margin-top: 20px;
  }
  .search-icon {
    height: 16px;
    top: 75px;
  }
}
