.city-container {
  height: 240px;
  width: 240px;
  border-radius: 20px;
  display: inline-block; /* Ensure the wrapper only takes the width of its contents */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(0, 0, 0, 0.1);
  padding: 0px 20px;
  background-color: white;
  transition: "0.6s";
}
.city-title {
  font-size: 29px;
  // margin-top: 8px;
  overflow-x: hidden;
  height: 29px;
}

.bottom-row-city {
  font-size: 24px;
  font-weight: 900;
}

.weather-img {
  height: 140px;
}

.heart-icon-city {
  width: 30px;
}

.sun-img {
  height: 40px;
  margin-left: -6px;
}
.moon-img {
  height: 28px;
  transform: translate(2px, -4px);
}

@media (max-width: $mobileBreakPoint) {
  .city-container {
    transform: scale(0.8);
  }
}
