// .HeaderContainer {
//   @include flexBox;
//   background-color: rgba(193, 32, 158, 0);
//   position: fixed;
//   top: 0px;
//   height: var(--headerHeight);
//   width: 100%;
//   flex-grow: 0;
//   box-shadow: 0 10px 25px 0 rgba(56, 153, 223, 0.25);
//   background-color: #fff;
//   font-size: 17px;
//   color: black;
//   // z-index: $maxZindex;
// }
// .HeaderInnerContainer {
//   @include flexBox(space-between);
//   width: 96%;
//   font-size: 20px;
//   // font-size: clamp(1vw, 1vw, 20px)!important

//   // max-width: $max-width;
// }

// .HeaderNavLinksContainer {
//   @include flexBox(null,null,40px);
//   // width: 700px;
//   // justify-content: space-between;
// }

// .logoAndNavLinksContainer {
//   // width: 1024px;
//   gap: 50px;
//   justify-content: unset;
// }

// .navItemDesktop {
//   position: relative;
// }
// .navItemDesktop:after {
//   content: "";
//   position: absolute;
//   bottom: -2px;
//   left: 50%;
//   width: 0;
//   height: 2.5px;
//   background-color: blue;
//   transition: width 0.3s ease;
//   transform: translateX(-50%);
// }
// .navItemDesktop:hover:after {
//   // border-bottom: 1px solid $blue;
//   // transition: 0.5s;
//   // animation: borderBottom 0.5s;
//   width: 100%;
// }

// @media (max-width: 1700px) {
//   .logoAndNavLinksContainer {
//     // width: 924px;
//   }
//   .HeaderNavLinksContainer {
//     width: 660px;
//   }
// }
// @media (max-width: 1588px) {
//   .logoAndNavLinksContainer {
//     // width: 800px;
//   }
//   .HeaderNavLinksContainer {
//     width: 625px;
//   }
// }
// .HeaderGenericButtonsContainer {
//   @include flexBox(space-between, 550px);
// }

// .joinManuyButton {
//   width: 190px;
//   height: 40px;
//   // border: solid 1px $blue;
//   // background-color: $blue;
//   color: white;
//   @include flexBox(center);
//   min-width: 150px;
// }

// .searchIcon {
//   height: 26px;
//   width: 26px;
// }

// .HeaderNavLinksContainer.closed {
//   visibility: hidden;
// }

// .HeaderNavLinksContainer.open {
//   visibility: visible;
// }
// .burgerMenuContainer {
//   display: none;
//   height: 30px;
//   &:hover {
//     cursor: pointer;
//   }
//   transform: translateY(-1.5px);
// }

// .burgerMenu span:before,
// .burgerMenu span:after {
//   content: "";
// }

// .burgerNavContainer {
//   @include flexBox(center, 100%, 16px);
//   flex-direction: column;
//   position: absolute;
//   background-color: white;
//   top: 100px;
//   right: 0px;
//   height: 0px;
//   overflow: hidden;
// }

// .mobileGoToProfileButton {
//   display: none;
//   height: 24px;
// }
// .FooterLogoContainerH {
//   // margin-top: 148px;
// }

// .nav-mobile-container {
//   min-height: 628px;
//   height: 100vh;
// }

// .bottom-nav-container {
//   justify-content: flex-end;
//   padding-bottom: 50px;
// }

// .footerLogoH {
//   height: 27px;
// }
// @media (max-width: 1650px) {
//   // .HeaderContainer {
//   //   font-size: 17px;
//   // }

//   .joinManuyButton {
//     width: 35%;
//   }
// }
// @media (max-width: 1650px) {
//   .HeaderGenericButtonsContainer {
//     // width: 470px;
//   }
// }
// @media (max-width: 1588px) {
//   .HeaderInnerContainer {
//     width: 98%;
//     font-size: 16px;
//   }
//   .logoAndNavLinksContainer {
//     gap: 30px;
//   }

//   .HeaderNavLinksContainer {
//     font-size: 18px;
//   }
//   .HeaderGenericButtonsContainer {
//     width: 469px;
//   }
// }

// @media (max-width: 1450px) {
//   .HeaderNavLinksContainer {
//     width: 535px;
//   }
//   .HeaderGenericButtonsContainer {
//     transform: scale(0.85);
//   }
// }
// @media (max-width: 1388px) {
//   .headerLogo {
//     height: 42px !important;
//   }
//   // .HeaderInnerContainer{
//   //   transform: scale(0.96);
//   // }
// }
// @media (max-width: $mobileBreakPoint) {
//   .HeaderInnerContainer {
//     width: 95%;
//   }
//   .burgerMenuContainer {
//     display: block;
//     height: 30px;
//     &:hover {
//       cursor: pointer;
//     }
//     transform: translateY(-1.5px);
//   }
//   .HeaderGenericButtonsContainer {
//     position: absolute;
//     right: 80px;
//     // width: 22%;
//     width: 200px;
//   }
//   .goToProfileButton {
//     display: none;
//   }
//   .joinManuyButton {
//     display: none;
//   }

//   .mobileGoToProfileButton {
//     display: block;
//     transform: translateY(-2px);
//   }
//   .HeaderNavLinksContainer {
//     display: none;
//   }

//   .burgerMenu span,
//   .burgerMenu span:before,
//   .burgerMenu span:after {
//     background-color: blue;
//     display: block;
//     height: 4px;
//     opacity: 1;
//     transition: 0.3s ease-in-out;
//     border-radius: 10px;
//     transform: translateY(14px);
//   }
//   .burgerMenu span {
//     width: 27px;
//   }
//   .burgerMenu span:before {
//     transform: translateY(-10px);
//   }
//   .burgerMenu span:after {
//     transform: translateY(6px);
//     border-radius: 10px;
//   }

//   .HeaderNavLinksContainer {
//     flex-direction: column;
//   }
//   .burgerNavContainer {
//     @include flexBox(start, 5px);
//     padding-top: 40px;
//     flex-direction: column;
//     position: absolute;
//     background-color: white;
//     top: var(--headerHeight);
//     right: 0px;
//     height: 0px;
//     width: 0px;
//     overflow: hidden;
//     font-size: 0px;
//     transition: width 0.5s;
//   }
//   .burgerNavContainer.open {
//     height: 100vh;
//     overflow-y: scroll;
//     width: 280px;
//     font-size: 12px;
//     transition: width 0.5s;
//   }
//   .burgerNavContainer.closed {
//     height: 100vh;
//     width: 0px;
//     transition: width 0.5s;
//   }
//   // .burgerNavContainer.open {
//   //   height: 221px;
//   //   transition: 0.5s;
//   // }

//   .HeaderInnerContainer {
//     flex-direction: row-reverse;
//   }

//   .burgerMenu.open span {
//     transform: translateY(14px) rotate(-45deg);
//   }
//   .burgerMenu.open span::after {
//     transform: rotate(90deg);
//     width: 0;
//     opacity: 0;
//   }
//   .burgerMenu.open span::before {
//     transform: rotate(90deg);
//   }
// }

// .mobileNavListItem {
//   min-width: 140px;
//   display: flex;
//   justify-content: flex-end;
//   color: #7d7d82;
//   font-size: 16px;
// }
// .mobileNavListItem:hover {
//   cursor: pointer;
//   width: 100%;
//   color: blue;
//   text-align: center;
//   font-weight: bold;
//   transform: scale(1.02);
// }
// .nav_list_container {
//   display: flex;
//   gap: 8px;
//   width: 83%;
//   justify-content: flex-end;
// }

// .burgerNavContainer::-webkit-scrollbar {
//   width: 0;
//   background-color: transparent;
// }

// .nav-mobile-container::-webkit-scrollbar {
//   width: 0;
//   background-color: transparent;
// }

// @media (max-width: $mobileBreakPoint) {
//   .HeaderContainer {
//     // height: $mobileHeaderHeight;
//   }

//   .headerLogo {
//     height: 28px !important;
//   }
// }
// @media (max-width: 740px) {
//   .HeaderGenericButtonsContainer {
//     right: 68px;
//   }
// }
// @media (max-width: 515px) {
//   .HeaderGenericButtonsContainer {
//     position: absolute;
//     right: 54px;
//     // width: 22%;
//     width: 180px;
//   }

//   .logoContainerHeader {
//     gap: 8px;
//   }
// }

.HeaderContainer {
  @include flexBox;
  background-color: rgba(193, 32, 158, 0);
  position: fixed;
  top: 0px;
  height: var(--headerHeight);
  width: 100%;
  flex-grow: 0;
  box-shadow: 0 10px 25px 0 rgba(56, 153, 223, 0.25);
  background-color: #fff;
  font-size: 17px;
  color: black;
  // z-index: $maxZindex;
}
.HeaderInnerContainer {
  @include flexBox(space-between);
  width: 92%;
  // font-size: 20px;
  font-size: clamp(16px, 1.5vw, 20px) !important;
}
.header-button-container {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  position: relative;
  transition: all 200ms linear;
  transition-delay: 100ms;
  height: calc(var(--headerHeight) * 0.40) !important;
  width: 200px;
  border-radius: 30px;
  background-color: #bcbbbb;
  box-shadow: -1px 3px 11px -2px rgba(179, 179, 179, 0.3),
    inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  // height: 48px;
}
.header-button {
  width: 50%;
  background-color: transparent;
  border-radius: 30px;
  z-index: 1;
  height: 100%;
}
.header-button-img {
  height: 24px;
}
.chosen-header-overlay {
  position: absolute;
  width: 53%;
  background-color: rgba(75, 168, 234, 0.75);
  border-radius: 30px;
  height: 100%;
  left: 0px;
  z-index: 0;
  transition: 0.3s;
}

@media (max-width: $mobileBreakPoint) {
  .header-button-container {
    width: 110px;
      height: calc(var(--headerHeight) * 0.55) !important;

  }
  .header-button-img {
    height: 16px;
  }
}
