.HeaderContainer {
  @include flexBox;
  background-color: rgba(193, 32, 158, 0);
  position: fixed;
  top: 0px;
  height: var(--headerHeight);
  width: 100%;
  flex-grow: 0;
  box-shadow: 0 10px 25px 0 rgba(56, 153, 223, 0.25);
  background-color: #fff;
  font-size: 17px;
  color: black;
  z-index: 2;
}
.HeaderInnerContainer {
  @include flexBox(space-between);
  width: 92%;
  // font-size: 20px;
  font-size: clamp(16px, 1.5vw, 20px) !important;
}
.header-button-container {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  position: relative;
  transition: all 200ms linear;
  transition-delay: 100ms;
  height: calc(var(--headerHeight) * 0.4) !important;
  width: 200px;
  border-radius: 30px;
  background-color: #bcbbbb;
  box-shadow: -1px 3px 11px -2px rgba(179, 179, 179, 0.3),
    inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  // height: 48px;
}
.header-button {
  width: 50%;
  background-color: transparent;
  border-radius: 30px;
  z-index: 1;
  height: 100%;
}
.header-button-img {
  height: 24px;
}
.chosen-header-overlay {
  position: absolute;
  width: 53%;
  background-color: rgba(75, 168, 234, 0.75);
  border-radius: 30px;
  height: 100%;
  left: 0px;
  z-index: 0;
  transition: 0.3s;
}

@media (max-width: $mobileBreakPoint) {
  .header-button-container {
    width: 110px;
    height: calc(var(--headerHeight) * 0.55) !important;
  }
  .header-button-img {
    height: 16px;
  }
}
